<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comparateur de Textes</title>
  <link rel="stylesheet" href="./static/style.css">

  <!-- Lien vers le fichier CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <!-- Lien vers l'image -->
    <img id="logo" src="{{ url_for('static', filename='logo_esisa.jpeg') }}" alt="Logo">

    <h1>Comparateur de Textes Visuel</h1>

    <textarea id="texte1" placeholder="Texte original..."></textarea>
    <textarea id="texte2" placeholder="Texte à comparer..."></textarea>

    <button id="comparerBtn">Comparer</button>

    <p>Diagnostic : <span id="diagnostic">-</span></p>

    <div id="progress-container">
      <div id="progress-bar">0%</div>
    </div>
    
    <div id="diffContainer">
      <div class="diffBox" id="diff1"></div>
      <div class="diffBox" id="diff2"></div>
    </div>
  </div>

  <!-- Lien vers le fichier JavaScript -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
